<header class="position-relative">
  <div class="container header-container">
    <div class="row align-items-center">
      <div class=" col-sm-6 header-container--details d-flex">
        <div class="rectangle"></div>
        <div class="header-container--details--information d-flex flex-column">
          <h2
            class="header-container--details--information--title d-flex flex-column"
          >
            <span>PS4 V2</span>
            <span>DualShock 4</span>
          </h2>
          <p class="header-container--details--information--info">
            wireless controller for playStation 4 (compatibilityCentric)
          </p>

          <span class="header-container--details--information--price"
            >₹2999</span
          >
          <button class="btn header-container--details--information--btn">
            BUY NOW
            <span> <img src="./images/tools/Arrow-right.png" /> </span>
          </button>
        </div>
      </div>
      <div class=" col-sm-6 images-container">
        <img
          class="position-relative"
          src="./images/tools/CONTROLLER.png"
          alt="CONTROLLER"
        />
        <div class="layer1"></div>
        <div class="layer2"></div>
        <div
          class="sale-badge d-flex align-items-center justify-content-center"
        >
          <h4
            class="d-flex flex-column align-items-center justify-content-center"
          >
            <span>50%</span>
            <span>off</span>
          </h4>
        </div>
      </div>
    </div>
    <div class="pagniation-container d-flex position-absolute">
      <span class="pagniation-container--item active"></span>
      <span class="pagniation-container--item"></span>
      <span class="pagniation-container--item"></span>
    </div>
  </div>
</header>
