@font-face {
  font-family: "Salsa";
  src: url("../fonts/salsa/Salsa-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Josefin Sans";
  src: url("../fonts/Josefin/JosefinSans-VariableFont_wght.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
}

html {
  font-size: 62.5%;
}

nav {
  background: #000000;
}
nav .navbar-container {
  margin: 0 auto !important;
  padding: 18px 0 !important;
}
nav .navbar-container .logo-box {
  padding-left: 43px !important;
  padding-right: 142px !important;
}
nav .navbar-container--list {
  gap: 35px;
  padding: 0 !important;
}
nav .navbar-container--list--item {
  margin: 0 !important;
  padding: 0 !important;
}
nav .navbar-container--list--item a {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff !important;
  padding: 0 !important;
  margin: 0 !important;
}
nav .navbar-container--list--item a:hover {
  color: #fb2e86 !important;
}
nav .navbar-container--list--item .active {
  color: #fb2e86 !important;
}
nav .navbar-container--search-box {
  width: 245px;
  height: 35px;
  background: #ffffff;
  border-radius: 50px;
  padding: 7px 10px;
}
nav .navbar-container--search-box form {
  gap: 10px;
}
nav .navbar-container--search-box--input {
  padding: 0 !important;
  border: none;
  height: 100%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
nav .navbar-container--search-box--input:focus {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
}
nav .navbar-container--search-box--search-btn {
  border: none;
  background-color: transparent;
  width: 13px;
  height: 13px;
  background: url("../images/icons/search.png");
  background-repeat: no-repeat;
}
nav .navbar-container--icons-box {
  margin-left: 63px;
  margin-right: 50px;
  gap: 9px;
}
nav .navbar-container--icons-box img {
  width: 20px;
  height: 20px;
}
nav .navbar-container--icons-box img:hover {
  transform: scale(1.5);
  cursor: pointer;
  transition: all 0.2s ease-in;
}
nav .navbar-container .logo-box {
  padding-left: 43px !important;
  padding-right: 142px !important;
}
@media only screen and (max-width: 600px) {
  nav .navbar-container .logo-box {
    padding-left: 0px !important;
    padding-right: 10px !important;
  }
}
@media only screen and (max-width: 1250px) {
  nav .navbar-container--icons-box {
    margin-left: 20px;
  }
}
@media only screen and (max-width: 500px) {
  nav .navbar-container--icons-box {
    margin: 0;
  }
}

.footer-container {
  background-color: #000000;
}
.footer-container .inner-container {
  padding: 100px 109px 91px;
}
.footer-container--contact {
  gap: 50px;
  margin-bottom: 35px;
}
.footer-container--contact--subscribe {
  max-width: 407px;
  padding: 0 !important;
}
.footer-container--contact--subscribe .logo-box {
  margin-bottom: 15px;
}
.footer-container--contact--subscribe--container {
  gap: 14px;
}
.footer-container--contact--subscribe--container--info {
  max-width: 378px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #ffffff;
  opacity: 0.5;
}
.footer-container--contact--subscribe--container--form {
  gap: 5px;
}
.footer-container--contact--subscribe--container--form--email-box {
  width: 273px;
  height: 38px;
}
.footer-container--contact--subscribe--container--form--email-box input {
  padding: 11px 18px;
  background: transparent;
  border: 1px solid #787878;
  border-radius: 5px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #787878;
}
.footer-container--contact--subscribe--container--form--email-box input:focus {
  outline: none !important;
  outline-width: 0 !important;
  border: 1px solid rgba(36, 36, 36, 0.7921568627);
  box-shadow: none;
  background-color: transparent;
}
.footer-container--contact--subscribe--container--form--btn {
  padding: 10px 25px;
  border: 1px solid #fd0054;
  border-radius: 5px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.footer-container--contact--categories--container {
  row-gap: 30px;
}
.footer-container--contact--categories--container--column--title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.footer-container--contact--categories--container--column--items-container--item {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  display: flex;
  align-items: center;
  color: #ffffff !important;
  opacity: 0.8;
  text-decoration: none;
}
.footer-container .icons-container {
  gap: 31px;
}
.footer-container .icons-container .social-bar {
  margin-left: 18px;
  gap: 14px;
}
.footer-container .icons-container .social-bar img {
  width: 23px;
  height: 23px;
}
.footer-container .icons-container .methods-container {
  padding-left: 28px;
  padding-right: 61px;
}
.footer-container .icons-container .methods-container--download-box h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  display: flex;
  align-items: center;
  color: #ffffff;
  margin-right: 18px;
}
.footer-container .icons-container .methods-container--download-box--imgs-container {
  gap: 32px;
}
.footer-container .icons-container .copy-right p {
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

@media only screen and (max-width: 1200px) {
  .footer-container .inner-container {
    padding: 50px 20px;
  }
  .footer-container--contact--categories--container--column {
    padding: 0;
  }
}
@media only screen and (max-width: 1200px) {
  .footer-container .icons-container {
    gap: 31px;
  }
  .footer-container .icons-container .social-bar {
    margin-left: 0px;
    gap: 14px;
  }
  .footer-container .icons-container .methods-container {
    padding-left: 0px;
    padding-right: 0px;
  }
  .footer-container .methods-container--payments-box img {
    width: 100%;
  }
}
.logo-box {
  gap: 0.832rem;
  padding: 0 !important;
}
.logo-box--title {
  margin: 0 !important;
  font-family: "Salsa";
  font-style: normal;
  font-weight: 400;
  font-size: 3.32903rem;
  line-height: 41px;
  color: #fd0054 !important;
  text-transform: uppercase;
}
.logo-box--title:hover {
  color: #ffffff !important;
}

.features {
  max-width: 1164px;
  gap: 28px;
  margin: 0 auto;
}
.features .outer-box {
  width: 270px;
}
.features--card {
  width: 270px;
  padding: 61px 26px 45px 27px;
  background: #ffffff;
  box-shadow: 0px 8px 40px rgba(49, 32, 138, 0.05);
}
.features--card--icon {
  width: 65px;
  height: 65px;
  margin-bottom: 27px;
}
.features--card--title {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  color: #151875;
  margin-bottom: 20px;
}
.features--card--info {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: rgba(26, 11, 91, 0.3);
}

.busniess-container {
  padding: 0 20px;
  gap: 48px;
  margin-top: 92px;
}
.busniess-container--img-box {
  width: auto;
  display: inline-block;
  position: relative;
  max-width: 555px;
}
.busniess-container--img-box--image {
  width: 100%;
}
.busniess-container--img-box:before {
  z-index: -3;
  left: -15px;
  content: "";
  position: absolute;
  background-color: #2b3cab;
  width: 100%;
  height: calc(100% + 19px);
  border-radius: 6px;
}
.busniess-container--info {
  margin-top: 41px;
  max-width: 550px;
}
.busniess-container--info--title {
  font-family: "Josefin Sans";
  font-size: 36px;
  line-height: 48px;
  color: #151875;
}
.busniess-container--info--details {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #8a8fb9;
  margin-top: 14px;
}
.busniess-container--info--btn {
  background: #fb2e86;
  border-radius: 3px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  padding: 9px 0;
  width: 145px;
  margin-top: 70px;
}

.features-container {
  margin-top: 143px;
  margin-bottom: 10px;
}
.features-container--title {
  text-align: center;
  font-family: "Josefin Sans";
  font-size: 42px;
  line-height: 26px;
  color: #000000;
  margin-bottom: 67px;
}
.features-container .features--card:hover {
  border-bottom: 2px solid #ff9100;
}

.clients {
  margin-top: 122px;
  margin-bottom: 77px;
  padding-top: 82px;
  padding-bottom: 66px;
  background: #ffebf1;
}
.clients--container {
  max-width: 689px;
  text-align: center;
}
.clients--container--title {
  font-family: "Josefin Sans";
  font-size: 42px;
  line-height: 26px;
  color: #000000;
  margin-bottom: 64px;
}
.clients--container--images-box {
  gap: 13px;
}
.clients--container--images-box img {
  border-radius: 2px;
  width: 55px;
  height: 55px;
}
.clients--container--images-box .active {
  height: 59px;
  transform: translateY(-9px);
}
.clients--container--author {
  margin-top: 25px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
}
.clients--container--position {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 26px;
  color: #8a8fb9;
}
.clients--container--info {
  margin-top: 14px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #8a8fb9;
}
.clients--container--squares-pagination {
  margin-top: 17px;
  gap: 5px;
}
.clients--container--squares-pagination span {
  width: 18px;
  height: 3px;
  background: #ff75b0;
  border-radius: 3px;
}
.clients--container--squares-pagination .active {
  width: 27px;
  background: #fb2e86;
}

@media only screen and (max-width: 1200px) {
  .busniess-container {
    gap: 10px;
  }
  .busniess-container--info {
    margin-top: 41px;
    max-width: 550px;
  }
  .busniess-container--info--title {
    color: #151875;
  }
  .busniess-container--info--details {
    margin-top: 10px;
  }
  .busniess-container--info--btn {
    margin-top: 20px;
  }
}

/*# sourceMappingURL=about.css.map */
