@font-face {
  font-family: "Salsa";
  src: url("../fonts/salsa/Salsa-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-VariableFont_wght.ttf")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Josefin Sans";
  src: url("../fonts/Josefin/JosefinSans-VariableFont_wght.ttf")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}
