<table class="table table-borderless">
  <tbody>
    <tr
      data-include="./components/shipping/table/tableItem/tableItem.html"
      data-content='{"imgSrc": "./images/products/table-image-1.png", "title":"Lenovo Legion 9 Pro","price":"₹1,79,990","color":"black" }'
    ></tr>
    <tr
      data-include="./components/shipping/table/tableItem/tableItem.html"
      data-content='{"imgSrc": "./images/products/table-image-2.png", "title":"HeadPhone","price":"₹2999","color":"Red & Black" }'
    ></tr>
    <tr
      data-include="./components/shipping/table/tableItem/tableItem.html"
      data-content='{"imgSrc": "./images/products/table-image-3.png", "title":"Gaming Mouse","price":"₹1999","color":"black" }'
    ></tr>
    <tr
      data-include="./components/shipping/table/tableItem/tableItem.html"
      data-content='{"imgSrc": "./images/products/table-image-4.png", "title":"PS5 Controller","price":"₹2999","color":"White" }'
    ></tr>
    <tr
      data-include="./components/shipping/table/tableItem/tableItem.html"
      data-content='{"imgSrc": "./images/products/table-image-5.png", "title":"JoyStick","price":"₹4999","color":"black" }'
    ></tr>
  </tbody>
</table>
