<div
  class="container login-outter-container d-flex justify-content-center align-items-center"
>
  <div class="container login-inner-container">
    <div
      class="login-inner-container--title-box d-flex flex-column justify-content-center text-center"
    >
      <h2 class="login-inner-container--title-box--title">Login</h2>
      <div class="login-inner-container--title-box--sub-title">
        <span>Please login using account detail bellow.</span>
      </div>
    </div>
    <div class="form-container d-flex flex-column">
      <form class="d-flex flex-column">
        <div class="form-group form-container--input-box">
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Enter email"
          />
        </div>
        <div class="form-group form-container--input-box">
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Password"
          />
        </div>
        <a class="form-container--forget-password form-text text-muted">Forgot your password?</a>
        <button type="submit" class="btn">Log In</button>
      </form>
      <div class="create-box">
        <span>
          Don’t have an Account?<a href="#" class="marker"> Create account </a>
        </span>
      </div>
    </div>
  </div>
</div>
