<div class="shop-container--inner--sidebar--menu-box">
  <h3 class="shop-container--inner--sidebar--menu-box--title">Product Brand</h3>
  <div class="shop-container--inner--sidebar--menu-box--list">
    <div
      class="shop-container--inner--sidebar--menu-box--list--item d-flex align-items-center purble"
      data-include="./components/shop/sidebar/item/item.html"
      data-content='{"title": "Asus"}'
    ></div>
    <div
      class="shop-container--inner--sidebar--menu-box--list--item d-flex align-items-center purble"
      data-include="./components/shop/sidebar/item/item.html"
      data-content='{"title": "Dell"}'
    ></div>
    <div
      class="shop-container--inner--sidebar--menu-box--list--item d-flex align-items-center purble"
      data-include="./components/shop/sidebar/item/item.html"
      data-content='{"title": "Lenovo"}'
    ></div>
    <div
      class="shop-container--inner--sidebar--menu-box--list--item d-flex align-items-center purble"
      data-include="./components/shop/sidebar/item/item.html"
      data-content='{"title": "HP"}'
    ></div>
    <div
      class="shop-container--inner--sidebar--menu-box--list--item d-flex align-items-center purble"
      data-include="./components/shop/sidebar/item/item.html"
      data-content='{"title": "Acer"}'
    ></div>
    <div
      class="shop-container--inner--sidebar--menu-box--list--item d-flex align-items-center purble"
      data-include="./components/shop/sidebar/item/item.html"
      data-content='{"title": "MSI"}'
    ></div>
  </div>
</div>

<div class="shop-container--inner--sidebar--menu-box">
  <h3 class="shop-container--inner--sidebar--menu-box--title">
    Discount Offer
  </h3>
  <div class="shop-container--inner--sidebar--menu-box--list">
    <div
      class="shop-container--inner--sidebar--menu-box--list--item d-flex align-items-center pink"
      data-include="./components/shop/sidebar/item/item.html"
      data-content='{"title": "20% Discount Offer"}'
    ></div>
    <div
      class="shop-container--inner--sidebar--menu-box--list--item d-flex align-items-center pink"
      data-include="./components/shop/sidebar/item/item.html"
      data-content='{"title": "5% Cashback Offer"}'
    ></div>
    <div
      class="shop-container--inner--sidebar--menu-box--list--item d-flex align-items-center pink"
      data-include="./components/shop/sidebar/item/item.html"
      data-content='{"title": "25% Discount Offer"}'
    ></div>
  </div>
</div>

<div class="shop-container--inner--sidebar--menu-box">
  <h3 class="shop-container--inner--sidebar--menu-box--title">Rating Item</h3>
  <div class="shop-container--inner--sidebar--menu-box--list">
    <div
      class="shop-container--inner--sidebar--menu-box--list--item d-flex align-items-center yellow"
      data-include="./components/shop/sidebar/ratingItem/ratingItem.html"
      data-content='{"rating":"4", "total": "(2341)"}'
    ></div>
    <div
      class="shop-container--inner--sidebar--menu-box--list--item d-flex align-items-center yellow"
      data-include="./components/shop/sidebar/ratingItem/ratingItem.html"
      data-content='{"rating":"3", "total": "(1726)"}'
    ></div>
    <div
      class="shop-container--inner--sidebar--menu-box--list--item d-flex align-items-center yellow"
      data-include="./components/shop/sidebar/ratingItem/ratingItem.html"
      data-content='{"rating":"2", "total": "(258)"}'
    ></div>
    <div
      class="shop-container--inner--sidebar--menu-box--list--item d-flex align-items-center yellow"
      data-include="./components/shop/sidebar/ratingItem/ratingItem.html"
      data-content='{"rating":"2", "total": "(25)"}'
    ></div>
  </div>
</div>

<div class="shop-container--inner--sidebar--menu-box">
  <h3 class="shop-container--inner--sidebar--menu-box--title">Price Filter</h3>
  <div class="shop-container--inner--sidebar--menu-box--list">
    <div
      class="shop-container--inner--sidebar--menu-box--list--item d-flex align-items-center pink"
      data-include="./components/shop/sidebar/item/item.html"
      data-content='{"title": "₹0 - ₹49,990"}'
    ></div>
    <div
      class="shop-container--inner--sidebar--menu-box--list--item d-flex align-items-center pink"
      data-include="./components/shop/sidebar/item/item.html"
      data-content='{"title": "₹49,990 - ₹99,999"}'
    ></div>
    <div
      class="shop-container--inner--sidebar--menu-box--list--item d-flex align-items-center pink"
      data-include="./components/shop/sidebar/item/item.html"
      data-content='{"title": "₹99,999 - ₹1,49,999"}'
    ></div>
    <div
      class="shop-container--inner--sidebar--menu-box--list--item d-flex align-items-center pink"
      data-include="./components/shop/sidebar/item/item.html"
      data-content='{"title": "₹1,49,999+"}'
    ></div>
    <form>
      <input type="text" name="price" placeholder="₹49,990 - ₹99,999" />
    </form>
  </div>
</div>

<div class="shop-container--inner--sidebar--menu-box">
  <h3 class="shop-container--inner--sidebar--menu-box--title">
    Filter By Color
  </h3>
  <div class="shop-container--inner--sidebar--menu-box--list">
    <div
      class="shop-container--inner--sidebar--menu-box--list--item colors-container d-flex align-items-center"
    >
      <div
        class="shop-container--inner--sidebar--menu-box--list--item--color-container d-flex align-items-center"
      >
        <span
          style="background-color: #5e37ff"
          class="shop-container--inner--sidebar--menu-box--list--item--color-container--color"
        ></span>
        <h4
          class="shop-container--inner--sidebar--menu-box--list--item--color-container--color-title"
        >
          Blue
        </h4>
      </div>
      <div
        class="shop-container--inner--sidebar--menu-box--list--item--color-container d-flex align-items-center"
      >
        <span
          style="background-color: #ff9437"
          class="shop-container--inner--sidebar--menu-box--list--item--color-container--color"
        ></span>
        <h4
          class="shop-container--inner--sidebar--menu-box--list--item--color-container--color-title"
        >
          Blue
        </h4>
      </div>
      <div
        class="shop-container--inner--sidebar--menu-box--list--item--color-container d-flex align-items-center"
      >
        <span
          style="background-color: #ffbf95"
          class="shop-container--inner--sidebar--menu-box--list--item--color-container--color"
        ></span>
      </div>
    </div>
    <div
      class="shop-container--inner--sidebar--menu-box--list--item colors-container d-flex align-items-center"
    >
      <div
        class="shop-container--inner--sidebar--menu-box--list--item--color-container d-flex align-items-center"
      >
        <span
          style="background-color: #33d221"
          class="shop-container--inner--sidebar--menu-box--list--item--color-container--color"
        ></span>
        <h4
          class="shop-container--inner--sidebar--menu-box--list--item--color-container--color-title"
        >
          Blue
        </h4>
      </div>
      <div
        class="shop-container--inner--sidebar--menu-box--list--item--color-container d-flex align-items-center"
      >
        <span
          style="background-color: #e248ff"
          class="shop-container--inner--sidebar--menu-box--list--item--color-container--color"
        ></span>
        <h4
          class="shop-container--inner--sidebar--menu-box--list--item--color-container--color-title"
        >
          Blue
        </h4>
      </div>
      <div
        class="shop-container--inner--sidebar--menu-box--list--item--color-container d-flex align-items-center"
      >
        <span
          style="background-color: #26cbff"
          class="shop-container--inner--sidebar--menu-box--list--item--color-container--color"
        ></span>
      </div>
    </div>
  </div>
</div>

<div class="shop-container--inner--sidebar--menu-box">
  <h3 class="shop-container--inner--sidebar--menu-box--title">Stroage Type</h3>
  <div class="shop-container--inner--sidebar--menu-box--list">
    <div
      class="shop-container--inner--sidebar--menu-box--list--item d-flex align-items-center purble"
      data-include="./components/shop/sidebar/item/item.html"
      data-content='{"title": "eMMC"}'
    ></div>
    <div
      class="shop-container--inner--sidebar--menu-box--list--item d-flex align-items-center purble"
      data-include="./components/shop/sidebar/item/item.html"
      data-content='{"title": "HHD"}'
    ></div>
    <div
      class="shop-container--inner--sidebar--menu-box--list--item d-flex align-items-center purble"
      data-include="./components/shop/sidebar/item/item.html"
      data-content='{"title": "SSD"}'
    ></div>
  </div>
</div>

<div class="shop-container--inner--sidebar--menu-box">
  <h3 class="shop-container--inner--sidebar--menu-box--title">Features</h3>
  <div class="shop-container--inner--sidebar--menu-box--list">
    <div
      class="shop-container--inner--sidebar--menu-box--list--item d-flex align-items-center purble"
      data-include="./components/shop/sidebar/item/item.html"
      data-content='{"title": "Backlit Keyboard"}'
    ></div>
    <div
      class="shop-container--inner--sidebar--menu-box--list--item d-flex align-items-center purble"
      data-include="./components/shop/sidebar/item/item.html"
      data-content='{"title": "Full HD Display"}'
    ></div>
    <div
      class="shop-container--inner--sidebar--menu-box--list--item d-flex align-items-center purble"
      data-include="./components/shop/sidebar/item/item.html"
      data-content='{"title": "MS Office"}'
    ></div>
    <div
      class="shop-container--inner--sidebar--menu-box--list--item d-flex align-items-center purble"
      data-include="./components/shop/sidebar/item/item.html"
      data-content='{"title": "100% RGB"}'
    ></div>
    <div
      class="shop-container--inner--sidebar--menu-box--list--item d-flex align-items-center purble"
      data-include="./components/shop/sidebar/item/item.html"
      data-content='{"title": "No Optical Disk Drive"}'
    ></div>
    <div
      class="shop-container--inner--sidebar--menu-box--list--item d-flex align-items-center purble"
      data-include="./components/shop/sidebar/item/item.html"
      data-content='{"title": "Graphic Card"}'
    ></div>
  </div>
</div>
