<div
  data-include="./components/footer/categoryTitle/categoryTitle.html"
  data-content='{"title": "SHOP"}'
></div>
<div
  class="footer-container--contact--categories--container--column--items-container d-flex flex-column"
>
  <div
    data-include="./components/footer/categoryItem/categoryItem.html"
    data-content='{"title": "Laptops"}'
  ></div>
  <div
    data-include="./components/footer/categoryItem/categoryItem.html"
    data-content='{"title": "Wireless Headphones"}'
  ></div>
  <div
    data-include="./components/footer/categoryItem/categoryItem.html"
    data-content='{"title": "MotherBoards"}'
  ></div>
  <div
    data-include="./components/footer/categoryItem/categoryItem.html"
    data-content='{"title": "MotherBoards"}'
  ></div>
  <div
    data-include="./components/footer/categoryItem/categoryItem.html"
    data-content='{"title": "MotherBoards"}'
  ></div>
  <div
    data-include="./components/footer/categoryItem/categoryItem.html"
    data-content='{"title": "MotherBoards"}'
  ></div>
  <div
    data-include="./components/footer/categoryItem/categoryItem.html"
    data-content='{"title": "Controllers"}'
  ></div>
  <div
    data-include="./components/footer/categoryItem/categoryItem.html"
    data-content='{"title": "Wireless Headsets"}'
  ></div>
  <div
    data-include="./components/footer/categoryItem/categoryItem.html"
    data-content='{"title": "Oculus Quest "}'
  ></div>
  <div
    data-include="./components/footer/categoryItem/categoryItem.html"
    data-content='{"title": "Gift Card"}'
  ></div>
  <div
    data-include="./components/footer/categoryItem/categoryItem.html"
    data-content='{"title": "Rock In India"}'
  ></div>
  <div
    data-include="./components/footer/categoryItem/categoryItem.html"
    data-content='{"title": "Earn Rs.100"}'
  ></div>
</div>
