<div class="col-12 col-md-4 d-flex justify-content-center outer-box">
  <div
    data-include="../components/home/productWithPrice/productWithPrice.html"
    data-content='{"imageSrc": "./images/products/mouse.png", "title":"G502 Gaming Mouse","price":"₹2999"}'
  ></div>
</div>
<div class="col-12 col-md-4 d-flex justify-content-center outer-box">
  <div
    data-include="../components/home/productWithPrice/productWithPrice.html"
    data-content='{"imageSrc": "./images/products/laptop2.png", "title":"Lenovo Legion 5 Pro","price":"₹1,69,990"}'
  ></div>
</div>
<div class="col-12 col-md-4 d-flex justify-content-center outer-box">
  <div
    data-include="../components/home/productWithPrice/productWithPrice.html"
    data-content='{"imageSrc": "./images/products/ps-5.png", "title":"Playstation 5","price":"₹29999"}'
  ></div>
</div>
<div class="col-12 col-md-4 d-flex justify-content-center outer-box">
  <div
    data-include="../components/home/productWithPrice/productWithPrice.html"
    data-content='{"imageSrc": "./images/products/headset2.png", "title":"Wireless HeadPhone","price":"₹5999"}'
  ></div>
</div>
<div class="col-12 col-md-4 d-flex justify-content-center outer-box">
  <div
    data-include="../components/home/productWithPrice/productWithPrice.html"
    data-content='{"imageSrc": "./images/products/quest.png", "title":"Oculus Quest 2","price":"₹9999"}'
  ></div>
</div>
<div class="col-12 col-md-4 d-flex justify-content-center outer-box">
  <div
    data-include="../components/home/productWithPrice/productWithPrice.html"
    data-content='{"imageSrc": "./images/products/controller-xbox.png", "title":"XBOX SERIES X CONTROLLER","price":"₹7999 "}'
  ></div>
</div>
