<div data-include="./components/header/header.html"></div>
<section class="overflow-hidden">
  <div class="featured-container">
    <h2 class="featured-container--title">
      <a href="./featured.html">Featured Products</a>
    </h2>
    <div class="container" style="max-width: 1440px">
      <div
        data-include="../components/featuredProducts/featuredProducts.html"
        class="row products justify-content-xl-start justify-content-center"
      ></div>
      <div
        data-include="../components/squarePagination/squarePagination.html"
      ></div>
    </div>
  </div>
</section>
<section >
  <div class="leatest-container">
    <h2 class="leatest-container--title">Leatest Products</h2>
    <div data-include="../components/home/leatestBar/leatestBar.html"></div>
    <div class="container">
      <div
        data-include="../components/home/leatestProducts/leatestProducts.html"
        class="row products justify-content-center align-items-stretch"
      ></div>
      <div
        data-include="../components/squarePagination/squarePagination.html"
      ></div>
    </div>
  </div>
</section>
<section >
  <div class="offers-container">
    <h2 class="offers-container--title">What Gamers Offer!</h2>
    <div class="container">
      <div
        data-include="./components/features/features.html"
        class="row justify-content-center features"
      ></div>
    </div>
  </div>
</section>
<section>
  <div class="trending-container">
    <h2 class="trending-container--title">Trending Products</h2>
    <div class="container">
      <div
        data-include="./components/home/trendingProducts/trendingProducts.html"
        class="row products justify-content-center"
      ></div>
      <div
        data-include="../components/squarePagination/squarePagination.html"
      ></div>
    </div>
  </div>
</section>
<section>
  <div class="blogs-container">
    <h2 class="blogs-container--title">Leatest Blog</h2>
    <div class="container">
      <div
        data-include="./components/home/blogs/blogs.html"
        class="row blogs-container--blogs justify-content-center"
      ></div>
    </div>
  </div>
</section>
