<div class="outer-box col-12 col-md-6 col-lg-3">
  <div
    data-include="./components/features/card/card.html"
    data-content='{"imageSrc": "./images/icons/free-delivery.png", "title":"Free Shiping", "info":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa purus gravida."}'
    class="features--card d-flex flex-column justify-content-center align-items-center"
  ></div>
</div>
<div class="outer-box col-12 col-md-6 col-lg-3">
  <div
    data-include="./components/features/card/card.html"
    data-content='{"imageSrc": "./images/icons/cashback.png", "title":"Exclusiv Deals","info":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa purus gravida."}'
    class="features--card d-flex flex-column justify-content-center align-items-center"
  ></div>
</div>
<div class="outer-box col-12 col-md-6 col-lg-3">
  <div
    data-include="./components/features/card/card.html"
    data-content='{"imageSrc": "./images/icons/group.png", "title":"Quality Product","info":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa purus gravida."}'
    class="features--card d-flex flex-column justify-content-center align-items-center"
  ></div>
</div>
<div class="outer-box col-12 col-md-6 col-lg-3">
  <div
    data-include="./components/features/card/card.html"
    data-content='{"imageSrc": "./images/icons/24-hours-support.png", "title":"24/7 Support","info":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa purus gravida."}'
    class="features--card d-flex flex-column justify-content-center align-items-center"
  ></div>
</div>
