<div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center outer-box">
  <div
    data-include="../components/productCard/productCard.html"
    data-content='{"imageSrc": "./images/products/laptop1.png", "title":"Laptops"}'
  ></div>
</div>
<div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center outer-box">
  <div
    data-include="../components/productCard/productCard.html"
    data-content='{"imageSrc": "./images/products/Headset.png", "title":"HeadPhones"}'
  ></div>
</div>
<div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center outer-box">
  <div
    data-include="../components/productCard/productCard.html"
    data-content='{"imageSrc": "./images/products/mother-board.png", "title":"MotherBoards"}'
  ></div>
</div>

