<div
  class="shop-card d-flex align-items-center flex-column flex-lg-row text-xl-start text-center justify-content-center"
  data-include="./components/shop/shopContainers/card/card.html"
  data-content='{
        "imageSrc": "./images/products/laptop1.png",
        "title": "Lenovo Legion 9 Pro Ryzen 7 Octa Core 5800H - (32 GB/1 TB SSD/Windows",
        "price": "1,79,990"
      }'
></div>

<div
  class="shop-card d-flex align-items-center flex-column flex-lg-row text-xl-start text-center justify-content-center"
  data-include="./components/shop/shopContainers/card/card.html"
  data-content='{
        "imageSrc": "./images/products/laptop2.png",
        "title": "Lenovo Legion 5 Pro Ryzen 5 Octa Core 5800H - (16 GB/526 TB SSD/Windows",
        "price": "1,19,990"
      }'
></div>

<div
  class="shop-card d-flex align-items-center flex-column flex-lg-row text-xl-start text-center justify-content-center"
  data-include="./components/shop/shopContainers/card/card.html"
  data-content='{
        "imageSrc": "./images/products/laptop1.png",
        "title": "Lenovo Legion 9 Pro Ryzen 7 Octa Core 5800H - (32 GB/1 TB SSD/Windows",
        "price": "1,79,990"
      }'
></div>

<div
  class="shop-card d-flex align-items-center flex-column flex-lg-row text-xl-start text-center justify-content-center"
  data-include="./components/shop/shopContainers/card/card.html"
  data-content='{
        "imageSrc": "./images/products/laptop2.png",
        "title": "Lenovo Legion 5 Pro Ryzen 5 Octa Core 5800H - (16 GB/526 TB SSD/Windows",
        "price": "1,19,990"
      }'
></div>
<div
  class="shop-card d-flex align-items-center flex-column flex-lg-row text-xl-start text-center justify-content-center"
  data-include="./components/shop/shopContainers/card/card.html"
  data-content='{
        "imageSrc": "./images/products/laptop1.png",
        "title": "Lenovo Legion 9 Pro Ryzen 7 Octa Core 5800H - (32 GB/1 TB SSD/Windows",
        "price": "1,79,990"
      }'
></div>
