<div
  class="col-12 col-md-6 col-lg-4 d-flex flex-column blogs-container--blogs--blog d-flex flex-column justify-content-center"
  data-include="../components/home/blogs/card/card.html"
  data-content='{"imageSrc": "./images/tools/headset.png", "author":"Mohit Sign", "date":"21 January,2022", "title":"Top esssential Trends in 2022", "info":"NO STRINGS WITH THESE WIRELESS HEADPHONE"}'
></div>
<div
  class="col-12 col-md-6 col-lg-4 d-flex flex-column blogs-container--blogs--blog d-flex flex-column justify-content-center active"
  data-include="../components/home/blogs/card/card.html"
  data-content='{"imageSrc": "./images/tools/laptop.png", "author":"Mohit Sign", "date":"21 January,2022", "title":"Top esssential Trends in 2022", "info":"NO STRINGS WITH THESE WIRELESS HEADPHONE"}'
></div>
<div
  class="col-12 col-md-6 col-lg-4 d-flex flex-column blogs-container--blogs--blog d-flex flex-column justify-content-center"
  data-include="../components/home/blogs/card/card.html"
  data-content='{"imageSrc": "./images/tools/personal.png", "author":"Mohit Sign", "date":"21 January,2022", "title":"Top esssential Trends in 2022", "info":"NO STRINGS WITH THESE WIRELESS HEADPHONE"}'
></div>
