<div class="row">
  <div
    class="col-sm-6 col contact-container--way-box--methods--method d-flex align-items-center"
  >
    <span
      class="contact-container--way-box--methods--method--color"
      style="background-color: #5726DF"
    ></span>
    <div
      class="contact-container--way-box--methods--method--info-box d-flex flex-column"
    >
      <span>Tel:6261898153</span>
      <span>E-Mail: gamers@store.com</span>
    </div>
  </div>
  <div class="col-6 contact-container--way-box--methods--method d-flex">
    <span class="contact-container--way-box--methods--method--color" style="background-color: #fb2e86"></span>
    <div
      class="contact-container--way-box--methods--method--info-box d-flex flex-column"
    >
      <span>Support Forum</span>
      <span>For over 24hr</span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6 contact-container--way-box--methods--method d-flex">
    <span
      class="contact-container--way-box--methods--method--color"
      style="background-color: #FFB265"
    ></span>
    <div
      class="contact-container--way-box--methods--method--info-box d-flex flex-column"
    >
      <span>Mumbia, India</span>
      <span>Banglore </span>
    </div>
  </div>
  <div class="col-6 contact-container--way-box--methods--method d-flex">
    <span class="contact-container--way-box--methods--method--color" style="background-color: #1BE982"></span>
    <div
      class="contact-container--way-box--methods--method--info-box d-flex flex-column"
    >
      <span>Free standard shipping</span>
      <span>on all orders.</span>
    </div>
  </div>
</div>
