<div class="d-flex justify-content-between totals-container--card--item">
  <span class="totals-container--card--item--title">Subtotals:</span>
  <span class="totals-container--card--item--price">₹1,95,985</span>
</div>
<div class="d-flex justify-content-between totals-container--card--item">
  <span class="totals-container--card--item--title">totals:</span>
  <span class="totals-container--card--item--price">₹1,95,985</span>
</div>
<div class="totals-container--card--info d-flex align-items-center">
  <span> <img src="./images/icons/check-icon.png" /> </span>
  <span>Shipping & taxes calculated at checkout</span>
</div>
<button type="button" class="totals-container--card--btn">
  Proceed To Checkout
</button>
