@import "../main.scss";

.login-outter-container {
  padding: 165px 20px;
  .login-inner-container {
    padding: 50px 55px;
    max-width: 544px;
    min-height: 474px;
    background: #ffffff;
    box-shadow: 0px 0px 25px 10px #f8f8fb;
    &--title-box {
      gap: 7px;
      margin-bottom: 37px;
      &--title {
        font-family: "Josefin Sans";
        font-size: 32px !important;
        line-height: 38px !important;
        color: #000000;
      }
      &--sub-title {
        font-family: "Lato";
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 20px;
        color: #9096b2;
      }
    }
    .form-container {
      &--input-box {
        input {
          padding: 15px 13px 18px;
          max-width: 432px;
          height: 52px;
          background: #ffffff;
          border: 1px solid #c2c5e1;
          border-radius: 2px;
          font-family: "Lato";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          color: #9096b2;
        }
        &:first-child {
          margin-bottom: 23px;
        }
      }
      &--forget-password {
        font-family: "Lato";
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 20px;
        color: #9096b2;
        margin: 13px 0 23px;
        text-decoration: none;
      }
      button {
        cursor: pointer;
        padding: 13px 0 14px;
        background: #fb2e86;
        border-radius: 3px;
        font-family: "Lato";
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 20px;
        color: #ffffff;
      }
    }
    .create-box {
      margin-top: 28px;
      margin-right: auto;
      margin-left: auto;
      span {
        font-family: "Lato";
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 20px;
        color: #9096b2;
        .marker {
          color: #fd0054;
          text-decoration: none;
        }
      }
    }
  }
}
