<footer class="footer-container">
  <div
    class="inner-container container d-flex flex-column"
    style="max-width: 1440px"
  >
    <div class="row footer-container--contact">
      <div class="col-lg-4 col-12 footer-container--contact--subscribe">
        <div data-include="./components/logoBox/logoBox.html"></div>
        <div
          class="footer-container--contact--subscribe--container d-flex flex-column"
        >
          <p class="footer-container--contact--subscribe--container--info">
            Subscribe to email alerts. We promise not to spam your inbox.
          </p>
          <form
            class="footer-container--contact--subscribe--container--form d-flex flex-wrap"
          >
            <div
              class="form-group footer-container--contact--subscribe--container--form--email-box"
            >
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Email Address*"
              />
            </div>
            <button
              type="submit"
              class="btn footer-container--contact--subscribe--container--form--btn"
            >
              Submit
            </button>
          </form>
        </div>
      </div>

      <div class="col-lg-7 col-12 footer-container--contact--categories container">
        <div class="row footer-container--contact--categories--container">
          <div
            data-include="./components/footer/shop/shop.html"
            class="col-sm-4 col-6 footer-container--contact--categories--container--column d-flex flex-column"
          ></div>
          <div
            data-include="./components/footer/help/help.html"
            class="col-sm-4 col-6 footer-container--contact--categories--container--column d-flex flex-column"
          ></div>
          <div
            data-include="./components/footer/secondHelp/secondHelp.html"
            class="col-sm-4 col-6 footer-container--contact--categories--container--column d-flex flex-column"
          ></div>
        </div>
      </div>
    </div>
    <div class="icons-container d-flex flex-column">
      <div class="social-bar d-flex align-items-center">
        <img src="./images/social/twitter.png" alt="twitter icon" />
        <img src="./images/social/facebook.png" alt="facebook icon" />
        <img src="./images/social/youtube.png" alt="youtube icon" />
        <img src="./images/social/instagram.png" alt="instagram icon" />
        <img src="./images/social/linkedin.png" alt="linkedin icon" />
      </div>
      <div class="methods-container d-flex justify-content-between flex-wrap">
        <div class="methods-container--payments-box">
          <img src="./images/icons/payment-icons.png" alt="payment icons" />
        </div>
        <div class="methods-container--download-box d-flex align-items-center flex-wrap">
          <h4>DOWNLOAD THE APP</h4>
          <div class="methods-container--download-box--imgs-container d-flex flex-wrap">
            <img src="./images/icons/google-play.png" alt="google play" />
            <img src="./images/icons/apple-store.png" alt="apple-store" />
          </div>
        </div>
      </div>
      <div class="copy-right d-flex justify-content-center">
        <p>© 2022 Imagine Marketing Private Limited. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
