<section>
  <div class="container contact-section mx-auto" style="max-width: 1440px">
    <div class="row contact-container justify-content-between">
      <div
        class="col-md-6 col-12 contact-container--information d-flex flex-column"
      >
        <h1 class="contact-container--information--title">
          Information About us
        </h1>
        <p class="contact-container--information--info">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mattis neque
          ultrices mattis aliquam, malesuada diam est. Malesuada sem tristique
          amet erat vitae eget dolor lobortis. Accumsan faucibus vitae lobortis
          quis bibendum quam.
        </p>
        <div class="contact-container--information--colors-box d-flex">
          <span
            class="contact-container--information--colors-box--color"
          ></span>
          <span
            class="contact-container--information--colors-box--color"
          ></span>
          <span
            class="contact-container--information--colors-box--color"
          ></span>
        </div>
      </div>
      <div
        class="col-md-6 col-12 contact-container--way-box d-flex flex-column mt-5 mt-md-0"
      >
        <h1 class="contact-container--way-box--title">Contact Way</h1>
        <div class="contact-container--way-box--methods d-flex flex-column" data-include="./components/contact/methods/methods.html">
          
        </div>
      </div>
    </div>
    <div class="form-container row">
      <div class="form-container--information col-lg-6 col-12">
        <h1 class="form-container--information--title">Get In Touch</h1>
        <p class="form-container--information--info">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mattis neque
          ultrices tristique amet erat vitae eget dolor los vitae lobortis quis
          bibendum quam.
        </p>
        <form class="form-container--information--info--form" data-include="./components/contact/form/form.html">
          
        </form>
      </div>
      <div class="form-container--image col">
        <img src="../../images/tools/contact-photo.png" style="width: 100%" />
      </div>
    </div>
  </div>
</section>
