<table class="table table-borderless">
  <thead>
    <tr>
      <th scope="col">Product</th>
      <th scope="col" class="text-center">Price</th>
      <th scope="col" class="text-center">Quantity</th>
      <th scope="col" class="text-end">Total</th>
    </tr>
  </thead>
  <tbody>
    <tr
      data-include="./components/cart/table/tableItem/tableItem.html"
      data-content='{"imgSrc": "./images/products/table-image-1.png", "title":"Lenovo Legion 9 Pro","price":"₹1,79,990","color":"black","total":"₹1,79,990","quantity":"1" }'
    ></tr>
    <tr
      data-include="./components/cart/table/tableItem/tableItem.html"
      data-content='{"imgSrc": "./images/products/table-image-2.png", "title":"HeadPhone","price":"₹2999","color":"Red & Black","total":"₹2999  ","quantity":"1" }'
    ></tr>
    <tr
      data-include="./components/cart/table/tableItem/tableItem.html"
      data-content='{"imgSrc": "./images/products/table-image-3.png", "title":"Gaming Mouse","price":"₹1999","color":"black","total":"₹1999","quantity":"1" }'
    ></tr>
    <tr
      data-include="./components/cart/table/tableItem/tableItem.html"
      data-content='{"imgSrc": "./images/products/table-image-4.png", "title":"PS5 Controller","price":"₹2999","color":"White","total":"₹5998","quantity":"2" }'
    ></tr>
    <tr
      data-include="./components/cart/table/tableItem/tableItem.html"
      data-content='{"imgSrc": "./images/products/table-image-5.png", "title":"JoyStick","price":"₹4999","color":"black","total":"₹4999","quantity":"1" }'
    ></tr>
  </tbody>
</table>
