<ul class="navbar-container--list navbar-nav flex-column flex-xl-row align-items-xl-start align-items-center">
  <li class="navbar-container--list--item nav-item">
    <a class="nav-link active" aria-current="page" href="./home.html">Home <span><img src="./images/icons/icon-bottom.png" alt=""></span></a>
  </li>
  <div
    data-include="./components/navbar/navbarItem/navbarItem.html"
    data-content='{
    "name": "Pages",
    "link": "./index.html"
  }'
  ></div>
  <div
    data-include="./components/navbar/navbarItem/navbarItem.html"
    data-content='{
    "name": "Products",
    "link": "./featured.html"
  }'
  ></div>
  <div
    data-include="./components/navbar/navbarItem/navbarItem.html"
    data-content='{
    "name": "Blog",
    "link": "./productDetials.html"
  }'
  ></div>
  <div
    data-include="./components/navbar/navbarItem/navbarItem.html"
    data-content='{
    "name": "Shop",
    "link": "./Shop.html"
  }'
  ></div>
  <div
    data-include="./components/navbar/navbarItem/navbarItem.html"
    data-content='{
    "name": "Contact",
    "link": "#"
  }'
  ></div>
</ul>
