<section>
  <div class="container" style="max-width: 1440px">
    <div class="busniess-container d-flex justify-content-center flex-wrap">
      <div class="busniess-container--img-box">
        <img
          src="../../images/tools/about-photo.png"
          class="busniess-container--img-box--image"
        />
      </div>

      <div class="busniess-container--info">
        <h1 class="busniess-container--info--title">
          Know About Our Ecomerce Business, History
        </h1>
        <p class="busniess-container--info--details">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mattis neque
          ultrices mattis aliquam, malesuada diam est. Malesuada sem tristique
          amet erat vitae eget dolor lobortis. Accumsan faucibus vitae lobortis
          quis bibendum quam.
        </p>
        <button class="btn busniess-container--info--btn">Contact us</button>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="features-container">
    <h2 class="features-container--title">Our Features</h2>
    <div class="container">
      <div
        data-include="./components/features/features.html"
        class="row justify-content-center features"
      ></div>
    </div>
  </div>
</section>

<section class="clients">
  <div
    class="container clients--container d-flex flex-column align-items-center"
  >
    <h1 class="clients--container--title">Our Client Say!</h1>
    <div class="clients--container--images-box d-flex">
      <img src="./images/tools/client1.png" alt="client-photo" />
      <img src="./images/tools/client2.png" alt="client-photo" class="active" />
      <img src="./images/tools/client3.png" alt="client-photo" />
    </div>
    <h2 class="clients--container--author">Selina Gomez</h2>
    <span class="clients--container--position">Ceo At Webecy Digital</span>
    <p class="clients--container--info">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non duis ultrices
      quam vel dui sollicitudin aliquet id arcu. Nam vitae a enim nunc, sed
      sapien egestas ac nam. Tristique ultrices dolor aliquam lacus volutpat
      praesent.
    </p>
    <div class="clients--container--squares-pagination d-flex">
      <span></span>
      <span class="active"></span>
      <span></span>
    </div>
  </div>
</section>
