<div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center outer-box">
  <div
    data-include="../components/productCard/productCard.html"
    data-content='{"imageSrc": "./images/products/laptop1.png", "title":"Laptops"}'
  ></div>
</div>
<div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center outer-box">
  <div
    data-include="../components/productCard/productCard.html"
    data-content='{"imageSrc": "./images/products/Headset.png", "title":"HeadPhones"}'
  ></div>
</div>
<div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center outer-box">
  <div
    data-include="../components/productCard/productCard.html"
    data-content='{"imageSrc": "./images/products/mother-board.png", "title":"MotherBoards"}'
  ></div>
</div>
<div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center outer-box">
  <div
    data-include="../components/productCard/productCard.html"
    data-content='{"imageSrc": "./images/products/mouse.png", "title":"Gaming Mouse"}'
  ></div>
</div>
<div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center outer-box">
  <div
    data-include="../components/productCard/productCard.html"
    data-content='{"imageSrc": "./images/products/ps-5.png", "title":"PlayStations"}'
  ></div>
</div>
<div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center outer-box">
  <div
    data-include="../components/productCard/productCard.html"
    data-content='{"imageSrc": "./images/products/quest.png", "title":"Oculus Quest"}'
  ></div>
</div>
<div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center outer-box">
  <div
    data-include="../components/productCard/productCard.html"
    data-content='{"imageSrc": "./images/products/headset3.png", "title":"Headsets"}'
  ></div>
</div>
<div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center outer-box">
  <div
    data-include="../components/productCard/productCard.html"
    data-content='{"imageSrc": "./images/products/controller-ps.png", "title":"Controllers"}'
  ></div>
</div>
<div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center outer-box">
  <div
    data-include="../components/productCard/productCard.html"
    data-content='{"imageSrc": "./images/products/Box.png", "title":"JoySticks"}'
  ></div>
</div>
<div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center outer-box">
  <div
    data-include="../components/productCard/productCard.html"
    data-content='{"imageSrc": "./images/products/keyboard.png", "title":"Keyboards"}'
  ></div>
</div>
