<div class="col-12 col-md-4 d-flex justify-content-center outer-box">
  <div
    data-include="./components/home/productWithPrice/productWithPrice.html"
    data-content='{"imageSrc": "./images/products/headset3.png", "title":"Wireless Headset","price":"₹5999"}'
  ></div>
</div>
<div class="col-12 col-md-4 d-flex justify-content-center outer-box">
  <div
    data-include="./components/home/productWithPrice/productWithPrice.html"
    data-content='{"imageSrc": "./images/products/Box.png", "title":"Atari 2600 Joystick","price":"₹6999"}'
  ></div>
</div>
<div class="col-12 col-md-4 d-flex justify-content-center outer-box">
  <div
    data-include="./components/home/productWithPrice/productWithPrice.html"
    data-content='{"imageSrc": "./images/products/controller-ps.png", "title":"PS4 V2  DualShock 4","price":"₹2999 "}'
  ></div>
</div>
